@model Quadlab.Models.modelClass

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>modelClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="firstName" class="control-label"></label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label"></label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Gender</label>
                <div>
                    <label><input type="radio" asp-for="gender" value="Male" /> Male</label>
                    <label><input type="radio" asp-for="gender" value="Female" /> Female</label>
                    <label><input type="radio" asp-for="gender" value="Other" /> Other</label>
                </div>
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <select asp-for="city" class="form-control" id="cityDropdown">
                    <option value="">Select City</option>
                    @foreach (var city in ViewBag.CityList)
                    {
                        <option value="@city.Name">@city.Name</option>
                    }
                </select>
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="country" class="control-label"></label>
                <select asp-for="country" class="form-control" id="countryDropdown">
                    <option value="">Select Country</option>
                    @foreach (var country in ViewBag.CountryList)
                    {
                        <option value="@country.Name">@country.Name</option>
                    }
                </select>
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        // JavaScript code to call the GetCitiesByCountry action method
        $('#countryDropdown').change(function () {
            var countryName = $(this).val();
            var countryId;

            switch (countryName) {
                case 'India':
                    countryId = 1;
                    break;
                case 'USA':
                    countryId = 2;
                    break;
                case 'China':
                    countryId = 3;
                    break;
                // Add more cases for other countries as needed
            }

            $.ajax({
                url: '/modelClasses/GetCitiesByCountry',
                type: 'GET',
                dataType: 'json',
                data: { countryId: countryId },
                success: function (cities) {
                    // Populate the cities dropdown with the returned data
                    $('#cityDropdown').empty().append('<option value="">Select City</option>');
                    $.each(cities, function (index, city) {
                        $('#cityDropdown').append($('<option>', {
                            value: city.name,
                            text: city.name
                        }));
                    });
                },
                error: function () {
                    alert('Error occurred while fetching cities.');
                }
            });
        });
    </script>

}
